#!/usr/bin/make -f

build: clean binary

clean:
	dh_testdir
	dh_testroot
	dh_clean

binary:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_install
	dh_installchangelogs
	dh_installmime
	dh_desktop
	dh_icons
	dh_gconf
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb --destdir=./debian
